[Unit]
Description=Check live league tables every 30 seconds

[Timer]
OnBootSec=45s
OnUnitInactiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
